{% extends 'base.html.twig' %}

{% block title %}Prestations index{% endblock %}

{% block body %}
    <h1>Prestations index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price_surface</th>
                <th>Price_user</th>
                <th>Price_fixed</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for prestation in prestations %}
            <tr>
                <td>{{ prestation.id }}</td>
                <td>{{ prestation.name }}</td>
                <td>{{ prestation.priceSurface }}</td>
                <td>{{ prestation.priceUser }}</td>
                <td>{{ prestation.priceFixed }}</td>
                <td>
                    <a href="{{ path('prestations_show', {'id': prestation.id}) }}">show</a>
                    <a href="{{ path('prestations_edit', {'id': prestation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('prestations_new') }}">Create new</a>
{% endblock %}