{% extends 'tables.html.twig' %}

{% block title %}Prestations index{% endblock %}

{% block content %}
    <h1>Prestations index</h1>

    <table class="table index">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price_surface</th>
                <th>Price_user</th>
                <th>Price_fixed</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for prestation in prestations %}
            <tr>
                <td>{{ prestation.id }}</td>
                <td>{{ prestation.name }}</td>
                <td>{{ prestation.priceSurface }}</td>
                <td>{{ prestation.priceUser }}</td>
                <td>{{ prestation.priceFixed }}</td>
                <td>
                    <a href="{{ path('prestations_show', {'id': prestation.id}) }}" class="bouton6">show</a>
                    <a href="{{ path('prestations_edit', {'id': prestation.id}) }}" class="bouton6">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if app.user != null and app.user.hasrole("ROLE_ADMIN") %}
        <a href="{{ path('prestations_new') }}" class="bouton6">Create new</a>
    {% endif %}
{% endblock %}

{% block js %}
    <script>
        $(document).ready( function () {
            $('table.table.index').DataTable();
        } );
    </script>
{% endblock %}