{% extends 'tables.html.twig' %}

{% block title %}Reservation index{% endblock %}

{% block content %}
    <h1>Reservation index</h1>

    <table class="table index">
        <thead>
        <tr>
            <th>Id</th>
            <th>Salle</th>
            <th>Date de début</th>
            <th>Date de fin</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            
            <tr>
                <td>{{ reservation.id }}</td>
                <td>{{ reservation.salle }}</td>
                <td>{{ reservation.DateStart.date|date("d/m/Y") }}</td>
                <td>{{ reservation.DateEnd.date|date("d/m/Y") }}</td>
                <td>
                    <a href="{{ path('reservation_show', {'id': reservation.id}) }}" class="bouton6">Détails</a>
                    {% if app.user != null and app.user.hasrole("ROLE_ADMIN") %}
                        <a href="{{ path('reservation_edit', {'id': reservation.id}) }}" class="bouton6">edit</a>
                    {% endif %}
                    {% if app.user != null and (app.user.hasrole("ROLE_ADMIN") or app.user.id == reservation.getUser().id) %}
                        <a href="/facture/{{ reservation.facture }}" class="bouton8">Facture</a>                        
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if app.user != null and app.user.hasrole("ROLE_ADMIN") %}
        <a href="{{ path('reservation_new') }}" class="bouton6">Create new</a>
    {% endif %}

{% endblock %}


{% block js %}
    <script>
        $(document).ready(function () {
            $('table.table.index').DataTable();
        });
    </script>
{% endblock %}