{% extends 'tables.html.twig' %}

{% block title %}Reservation index{% endblock %}

{% block content %}
    <h1>Reservation index</h1>

    <table class="table index">
        <thead>
        <tr>
            <th>Id</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.id }}</td>
                <td>
                    <a href="{{ path('reservation_show', {'id': reservation.id}) }}">Détails</a>
                    {% if app.user != null and app.user.hasrole("ROLE_ADMIN") %}
                        <a href="{{ path('reservation_edit', {'id': reservation.id}) }}">edit</a>
                    {% endif %}
                    {#{% if app.user != null and (app.user.hasrole("ROLE_ADMIN") or app.user.id == reservation.getUser().id) %}#}
                        {#<a href="{{ path('facture_show', {'id': reservation.getFacture().id}) }}">Facture</a>#}
                    {#{% endif %}#}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('reservation_new') }}">Create new</a>
{% endblock %}


{% block js %}
    <script>
        $(document).ready(function () {
            $('table.table.index').DataTable();
        });
    </script>
{% endblock %}